@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(./roboto-latin.woff2) format('woff2');
}


body {
	margin: 0 auto; padding: 0 1rem;
	font-size: 105%; font-family: "Roboto", "Helvetica Neue", sans-serif;
}

ul { padding-left: 0; list-style: none; }
img { margin: 1rem 0; }
p { margin: 1rem 0; }

input, textarea {
	display: block; margin: 1rem 0; padding: .4em;
	font-size: 90%; min-width: 30rem;
	border: 1px solid #999; border-radius: .2em;
	box-sizing: border-box; }
input[type="submit"] { min-width: 0; cursor: pointer; border: none; }
textarea { min-height: 6rem; }


a.button, .tag, input[type="submit"], button {
	display: inline-block; padding: .2em .4em; border-radius: .2em;
	color: white; text-decoration: none; cursor: pointer; }
.tag { margin: .1em; }
button { border: none; font-size: 90%; }
a.button, input[type="submit"], button { margin: 1rem 0; background-color: #2980b9; }

a.button:hover, .tag:hover, input[type="submit"]:hover, button:hover { opacity: .9; }


h1, h2 { margin: 1rem 0; line-height: 1; color: #34495e; }
h1 { display: inline-block; font-size: 2rem; line-height: 4rem; }
h2 { font-size: 1.4rem; }


#logo { display: inline-block; margin-right: .5rem; float: left; max-height: 4rem; }


/* layout */
#body { display: flex; clear: both; }

#body > .left-column { flex: 1; order: -1; }
#body > .right-column { flex: 0 0 18rem; }
@media screen and (max-width: 60rem) {
	#body { display: block; }
	#body > .left-column, #body > .right-column { flex: none; margin: 2rem 0; }
}

#documents { padding-right: 1rem; }
#tags { padding-left: 1rem; }


#tags li { display: inline-block; }
.document-tags li { display: inline-block; }

#documents .document {
	position: relative; padding: 1px 1rem; clear: both; }
#documents .document:nth-child(2n) { background-color: #fcfcfc; }
#documents .document:nth-child(2n+1) { background-color: #f0f0f0; }
#documents .document:after { /*clearix*/
	content: ''; display: table; clear: both; }

#documents .document .document-picture {
	margin: 0 1rem 1rem 0; float: left;
	display: inline-block; width: 10rem; }

#documents .document .document-author { font-style: italic; }

#documents .document .document-download {
	background-color: #555; position: absolute; top: 0; right: 1rem; }

#delete-tags .tag-delete, #delete-documents .document-delete { margin: .1em; }
