@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(./roboto-latin.woff2) format('woff2');
}


body {
	margin: 0 auto; padding: 0 1rem;
	font-size: 105%; font-family: "Roboto", "Helvetica Neue", sans-serif;
}

ul { padding-left: 0; list-style: none; }
img { margin: 1rem 0; }
p { margin: 1rem 0; }


a.button, .tag {
	display: inline-block; padding: .2em .4em; border-radius: .2em;
	color: white; text-decoration: none; }
.tag { margin: .1em; }
a.button { margin: 1rem 0; background-color: #2980b9; }

a.button:hover, .tag:hover { opacity: .9; }


h1, h2 { margin: 1rem 0; line-height: 1; color: #34495e; }


#body { display: flex; }
#documents { flex: 1; order: -1; }
#tags { flex: 0 0 18rem; }

#documents { padding-right: 1rem; }
#tags { padding-left: 1rem; }

#tags li { display: inline-block; }
.document-tags li { display: inline-block; }

#documents .document {
	position: relative; padding: 1px 1rem; clear: both; }
#documents .document:nth-child(2n) { background-color: #fcfcfc; }
#documents .document:nth-child(2n+1) { background-color: #f0f0f0; }
#documents .document:after { /*clearix*/
	content: ''; display: table; clear: both; }

#documents .document .document-picture {
	margin: 0 1rem 1rem 0; float: left;
	display: inline-block; width: 10rem; }

#documents .document .document-author { font-style: italic; }

#documents .document .document-download {
	background-color: #555; position: absolute; top: 0; right: 1rem; }
